body{
    margin: 0;
}
.container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    min-height: 100%;
}

.sidebar{
    grid-row: 1 / 4;
    display: grid;
    grid-template-rows: 75px 300px 250px 1fr;
    background-color: #0284c7;
    height: 100vh;
}

#dash{
    color: white;
    margin-left: 40px;
}

ul{
    list-style-type: none;
    color: white;
    font-size: 1.3rem;
    font-weight: 700;
}

li{
    margin-bottom: 20px;
}

.top-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.bottom-row{
    display: flex;
    justify-content: space-between;
}

#hello{
    margin-bottom: 0;
    font-weight: bold;
    font-size: 1rem;
}

#wanly{
    margin-top: 0;
    font-size: 1.2rem;
}

button{
    background-color: #0ea5e9;
    color: white;
    width: 85px;
    height: 30px;
    border-radius: 15px;
    border: #0ea5e9;
    margin-bottom: 0;
    position: relative;
    top: 25%;
}

.main-content{
    background-color: #d3d3d3;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.project{
    grid-column: 1 / 2;
    gap: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, minmax(210px,1fr));
}

.card{
    height: 150px;
    width: 300px;
    background-color: white;
    border-left: 5px solid orange;
    margin-left: 10px;
}

h4{
    margin-bottom: 0;
}

.text{
    margin-top: 0;
}

.news-card{
    height: 220px;
    width: 200px;
    background-color: white;
    margin-left: 10px;
}

.footer{
    grid-column: 2 / 3;
}